---
export interface Props {
  title: string;
}
const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.href);
---

<title>{title}</title>
<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href={canonicalURL} />
<meta name="generator" content={Astro.generator} />

<!-- recommended by tailwind: https://tailwindcss.com/docs/responsive-design -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- General Meta Tags -->
<meta name="title" content="URL to Kindle - Share websites with your e-reader easily" />
<meta name="description" content={title} />
<meta
  property="og:site_name"
  content="URL to Kindle - Share websites with your e-reader easily"
/>
<meta
  property="og:title"
  content="URL to Kindle - Share websites with your e-reader easily"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta
  property="og:image"
  itemprop="image primaryImageOfPage"
  content="https://url-to-kindle.hannes.cool/favicon.svg"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
